Desenvolvimento Web - DW/aulas/semana14/ent004/style.css
Desenvolvimento Web - DW/aulas/semana16/ex015.rar
Desenvolvimento Web - DW/aulas/semana16/Nova pasta/Cores-e-Gradientes-em-CSS-main/aluno/entrega aluno.rar
Desenvolvimento Web - DW/aulas/semana16/Nova pasta/Cores-e-Gradientes-em-CSS-main/aluno/ex01.rar
Desenvolvimento Web - DW/aulas/semana16/Nova pasta/Cores-e-Gradientes-em-CSS-main/exemplos/ex02/IMG/produtos/pulseira_feminina_elos_com_medalha_de_trevo_da_sorte_pingente_de_olho_grego_branco_com_mao_de_fatima_4239_1_18470e785d27ea47bcaa7f0edb167eb1.webp
Desenvolvimento Web - DW/aulas/semana16/Nova pasta/Cores-e-Gradientes-em-CSS-main/g01_cores.pdf
linguagem de Programação/Revisão/Revisão.zip
